@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-linear-gradient-grey {
    background-image: linear-gradient(281deg, #ebebeb 0 33%, transparent 32px 0%), linear-gradient(101deg, #ebebeb 0 25px, transparent 5% 0%);
}

.bg-linear-gradient-yellow {
    /* background-image: linear-gradient(120deg, #ffde3b, 73%, #ffbb00 31%); */
    background-image: linear-gradient(120deg, #ffbb00, 60%, #fe951d 40%);
}

.bg-linear-gradient-yellow-revers {
    background-image: linear-gradient(120deg, #ffbb00, 25%, #ece2e2 10%);
}

.bg-nav {
    background: linear-gradient(100deg, rgba(10, 10, 10, 1) 50%, rgba(20, 20, 20, 1) 50%);
}

.bg-slider-1 {
    background-image: url(../assets/Slider1-mobile.png);
}

.bg-slider-2 {
    background-image: url(../assets/Slider2-mobile.png);
}

.bg-slider-3 {
    background-image: url(../assets/Slider3-mobile.png);
}

.bg-slider-4 {
    background-image: url(../assets/Slider4-mobile.png);
}

.skew {
    transform: skew(-40deg);
}

.skew p {
    display: inline-block;
    transform: skew(40deg);
}

/* sm */
@media screen and (min-width:640px) {
    /* .bg-slider-1 {
        background-image: url(../assets/BANNER2.jpg);
    } */
}

/* md */
@media screen and (min-width:768px) {
    .bg-nav {
        background: linear-gradient(100deg, rgba(10, 10, 10, 1) 35%, rgba(20, 20, 20, 1) 35%);
    }

    .bg-slider-1 {
        background-image: url(../assets/BANNER2.jpg);
    }

    .bg-slider-2 {
        background-image: url(../assets/BANNER1.jpg);
    }

    .bg-slider-3 {
        background-image: url(../assets/BANNER3.jpg);
    }

    .bg-slider-4 {
        background-image: url(../assets/BANNER4.jpg);
    }
}